# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Data files
*.pkl
*.png

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Logs
*.log